{varType \Phantomea\Autoservis\DB\Branch|null $branch}

{if $branch}
	{*	{varType int|null $distance}*}

	<div class="flex flex-col mb-4" data-box-id="{$branch->getPK()}">
		<a href="{plink :Web:Index:detail, $branch}" class="block relative overflow-hidden mb-1 text-black hover:text-gray-900">
			<div class="block relative bg-gray-100 h-24 w-full" data-branch="{$branch->getPK()}" data-redirect="">
				<img class="absolute z-10 h-full w-full object-cover transform transition duration-500 ease-in-out hover:scale-105"
					 data-src="{$presenter->template->pubUrl|noescape}/img/repair-1.jpg"
					 alt="Mechanik opravujúci auto v {$branch->getName()}"
					 loading="lazy"
				/>
			</div>
		</a>

		<div class="flex flex-col justify-between mt-3">
			<div>
				<div class="flex flex-no-wrap flex-row justify-between items-center leading-none hover:text-indigo-700">
					<h3 class="text-md font-bold pr-2 truncate uppercase {@$presenter->template->blur ? 'blur' : ''}">
						<a class="text-gray-900 hover:text-indigo-700" href="{plink :Web:Index:detail, $branch}">{$branch->getName()}</a>
					</h3>

{*					<a href="{plink openBranchModal!, $branch}" class="ajax flex items-center text-xs text-red-700 flex-shrink-0 hover:text-red-500">*}
{*						<svg class="w-h h-4 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">*}
{*							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />*}
{*						</svg>*}

{*						<div class="ml-1 text-gray-700"><span class="font-bold">{$branch->getRatingScore()}</span>/5 ({$branch->ratings->enum()})</div>*}
{*					</a>*}
				</div>

				<div class="text-sm leading-tight text-gray-700 mt-1 {@$presenter->template->blur ? 'blur' : ''}">
					{$branch->getAddress()}
				</div>
			</div>

			<div class="flex items-center justify-between mt-1 {@$presenter->template->blur ? 'blur' : ''}">
				<a n:if="$branch->getClearPhone()" href="tel:{$branch->getClearPhone()}" class="flex items-center text-sm flex-shrink-0 " data-phone-branch="{$branch->getPK()}">
					<div class="text-gray-500 mr-1">
						Tel:
					</div>

					<span class="flex-shrink-0">{$branch->getClearPhone()}</span>
				</a>
				{*			<a href="{plink :Web:Index:detail, $branch}">Zobraziť viac</a>*}
			</div>
		</div>

		{*			<div class="text-sm text-gray-600 mt-1 truncate">*}
		{*				Mechanické práce, Pneuservis, STK a Emisie*}
		{*			</div>*}






		{*		<div class="flex items-center justify-between">*}
		{*			<div class="inline-block rounded mt-2 text-green-700 py-1 px-2 font-medium text-xs uppercase">Otvorené</div>*}
		{*			<div class="py-1 px-2 flex items-center">*}
		{*				<svg class="w-4 h-4" height="511px" viewBox="0 0 511.98685 511" width="511px" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" fill="#ffc107"/></svg>*}
		{*				<span class="text-sm ml-2"><span class="font-medium">4.2</span>/5</span>*}
		{*			</div>*}
		{*		</div>*}
	</div>
{/if}